<a href=""https://hd.samoletgroup.ru/browse/TMPLAHD-126"" class=""ssif-selected-issue "" data-popupsize=""small"" data-key=""TMPLAHD-126""
data-customfield=""customfield_14854""> <img width=""15px"" height=""15px"" alt=""""
src=""https://hd.samoletgroup.ru/secure/viewavatar?size=xsmall&avatarId=10300&avatarType=issuetype""
title=""Объект - ""
class=""label-issue-type-img""> БЦ Кунцево Плаза - ЦО по г. Москва <span style=""display: none;"" data-id=""select_custom_field_customfield_14854"" id=""select_custom_field_customfield_14854"" data-json='
[ { ""key"": ""summary"", ""type"": ""summary"", ""name"": ""Summary"" }
, { ""key"": ""customfield_14845"", ""type"": ""com.atlassian.jira.plugin.system.customfieldtypes:textfield"", ""name"": ""Координаты объекта"" }
, { ""key"": ""customfield_14850"", ""type"": ""stagilassetpicker"", ""name"": ""Населённый пункт"" }
, { ""key"": ""customfield_14839"", ""type"": ""com.atlassian.jira.plugin.system.customfieldtypes:textfield"", ""name"": ""Улица"" }
, { ""key"": ""customfield_14840"", ""type"": ""com.atlassian.jira.plugin.system.customfieldtypes:textfield"", ""name"": ""Дом"" }
, { ""key"": ""customfield_14841"", ""type"": ""com.atlassian.jira.plugin.system.customfieldtypes:textfield"", ""name"": ""Корпус/Строение"" }
]
'>